{% extends 'base.html' %}

{% block content %}

<h3 class="mb-3">Note</h3>

{% include 'components/messages.html' %}
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <input type="text" name="title" class="form-control" placeholder="Title"
               value="{{ form.title.value|default:'' }}" required>
        
        {% if form.title.errors %}
            <small class="text-danger">{{ form.title.errors.0 }}</small>
        {% endif %}
    </div>

    <div class="mb-3">
        <textarea required name="content" class="form-control" rows="6" placeholder="Write your note...">{{ form.content.value|default:'' }}</textarea>
        
        {% if form.content.errors %}
            <small class="text-danger">{{ form.content.errors.0 }}</small>
        {% endif %}
    </div>

    <button class="btn btn-primary">Save</button>
    <a href="{% url 'dashboard' %}" class="btn btn-secondary">Cancel</a>

</form>

{% endblock %}